

.sidenav-boards {
    display: flex;
    align-items: left;
    justify-content: left;
    border-right: 0px;
    width: 285px;
}

.sidenav-container-boards {
    position: absolute;
    top: 67px;
    bottom: 0px;
    left: 0;
    right: 0;
}

.sidenav-container-boards-opened {
    margin-left: 285px !important;
}

.sidenav-container-boards-closed {
    margin-left: 58px !important;
}


mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
    background: #0C0521;
}

